body {
    background: rgb(107, 107, 236);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 80vw;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

div#msg {
    font: normal 1.5em Arial;
    padding: 10px;
    text-align: center;
}

div#foto {
    height: 70vh;
    background-image: url(imagens/foto-manha.jpg);
    border-radius: 10px;
    background-position: center;
    background-size: cover;
}

footer {
    color: white;
    text-align: center;
}